
<div class="my_field">
<% @blogs.each do |blog|%>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to blog.name, blog_path(blog), class: "heading"%>
  </div>
  <div>
  <%= link_to blog.description, blog_path(blog), class: "list-group-item panel-footer text" %>
  </div>
  
</div>
	<% end %>
		<%= will_paginate @blogs, class: "digg_pagination" %>
</div>