<h4>New comment</h4>
<%= form_for [@commentable, @comment], url: @route, class: "new_form" do |f| %>
  <div class="form-group">
    <%= f.text_area :body, id: "commentField",class: "form-control", placeholder: "Enter a comment.", rows: 5 %>
  </div>
  <%= f.submit 'Create', class: "btn btn-primary" %>
<% end %>
<br>
