<div id="header-font"><h2 class="header-font">Admin panel</h2></div>
<div class="my_field">
	<br>
	<h2 class = "heading-post" >Hello, Admin!</h2>
	<p class = "text" >Now you can start with editing the roles of other users.</p>
	<%= button_to 'Edit users roles', admin_panel_edit_user_role_path, class: "btn btn-primary btn-lg"  %>
</div>