	<% if @post.errors.any? %>
		<div class="alert alert-warning alert-block text-danger">
	    <button type="button" class="close" data-dismiss="alert">x</button>
			<h2>
				<%= pluralize(@post.errors.count, "error") %> prohibiten this post from being saved:
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li> <%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>